.dailyCard {
    padding: 0 1.5rem;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRow p {
    text-transform: capitalize;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.bottomRow .count {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    margin: 0;
}

.changeIcon {
    display: flex;
    align-items: center;
}

.increase {
    color: hsl(163, 72%, 41%);
}

.decrease {
    color: hsl(356, 69%, 56%);
}

.changeIcon img {
    margin-right: 0.5rem;
}

/* Light Mode */
.dailyCardLightMode .metric,
.dailyCardLightMode .count {
    color: hsl(230, 17%, 14%);
}
