.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRow p {
    text-transform: capitalize;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomRow h3 {
    font-size: 2rem;
}

.changeIcon {
    display: flex;
    align-items: center;
}

.increase {
    color: hsl(163, 72%, 41%);
}

.decrease {
    color: hsl(356, 69%, 56%);
}

.changeIcon img {
    margin-right: 0.5rem;
}
