.todayDashboard {
    margin-top: 3rem;
}

.todayGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.title {
    color: #fff;
}

.titleLightMode {
    color: hsl(230, 17%, 14%);
}

@media screen and (max-width: 1100px) {
    .todayGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
}
