.header {
    width: 100%;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

.headerTopRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.headerTopRow h1 {
    margin-bottom: 0;
}

.header div {
    display: flex;
    align-items: center;
}

.header div h3 {
    font-size: 1rem;
    margin-right: 1rem;
}

p {
    font-size: 0.9rem;
    margin: 0;
}
