.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 2rem;
}

.header div {
    display: flex;
    align-items: center;
}

.header div h3 {
    margin-right: 1rem;
}
