.mainDashboardItem {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 0 4rem;
}

h3 {
    font-size: 3rem;
    margin: 1.5rem 0 0.5rem 0;
}

p {
    text-transform: none;
    letter-spacing: 0;
    font-weight: bolder;
}

.followers {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    font-weight: lighter;
}

.headerLine {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.changeLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLine img,
.changeLine img {
    margin-right: 0.5rem;
}

.changeLine p {
    font-size: 0.8rem;
}

.increase {
    color: hsl(163, 72%, 41%);
}

.decrease {
    color: hsl(356, 69%, 56%);
}
