.mainBackground {
    width: 100vw;
    height: 100vh;
    background-color: hsl(230, 17%, 14%);
    margin: 0;
    z-index: -10;
    position: fixed;
    transition: 0.3s;
}

.partialBackground {
    width: 100vw;
    height: 35vh;
    position: fixed;
    top: 0;
    background-color: hsl(232, 19%, 15%);
    z-index: -9;
    transition: 0.3s;
}

.container {
    width: 75%;
    max-width: 1500px;
    min-width: 360px;
    margin-inline: auto;
    z-index: 1;
}

/*  Light mode */

.mainBackgroundLightMode {
    background-color: hsl(0, 0%, 100%);
}

.partialBackgroundLightMode {
    background-color: hsl(225, 100%, 98%);
}

/* Mobile layout */

@media screen and (max-width: 1100px) {
    .container {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 90%;
        min-width: 270px;
    }
}
