.UICard {
    background-color: hsl(228, 28%, 20%);
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.UICard:hover {
    filter: brightness(1.3);
}
