.switch {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 50px;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    padding: 0 0.3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.switch:focus {
    outline: none;
}

.switch::-moz-range-thumb {
    appearance: none;
    background-color: hsl(232, 19%, 15%);
    border: none;
    width: 1rem;
    height: 1rem;
    cursor: default;
}

.switch::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: hsl(232, 19%, 15%);
    border-radius: 50%;
}

/* Light mode */
.switchLightMode {
    background-image: linear-gradient(to right, hsl(228, 12%, 44%), hsl(228, 12%, 44%));
}

.switchLightMode::-webkit-slider-thumb {
    appearance: none;
    background-color: #fff;
}

.switchLightMode::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    border: none;
}
